.state {
  /*   fill: #f7f7f7; */
    fill: #bdbdbd;
    /* #f7f7f7 */
    stroke: white;
    cursor: pointer;
  }

  .mesh {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }